<p><%= link_to 'Voltar', collaborator_path(current_collaborator) %></p>

<% @collaborator.errors.full_messages.each do |message| %>
  <ul>
    <li><%= message %></li>
  </ul>
<% end %>

<b><%= @collaborator.name if @collaborator.name.present? %></b><br>
<b><%= @collaborator.email %></b><br>
<%= image_tag @collaborator.avatar %><br>
<%= form_with model: @collaborator, local: true do |f| %>
   <div>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %><br><br>
  </div>
  <div>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>
  <div>
    <%= f.label :social_name %>
    <%= f.text_field :social_name %>
  </div>
  <div>
    <%= f.label :birth_date %>
    <%= f.date_field :birth_date %>
  </div>
  <div>
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>
  <div>
    <%= f.label :sector %>
    <%= f.text_field :sector %>
  </div>
  <p><%= f.submit 'Enviar' %></p>
<% end %>
