<p><%= link_to 'Voltar', collaborator_path(current_collaborator) %></p>
  <% # %>
<% if current_collaborator != Collaborator.find(params[:id]) %> <!-- Histórico de outra pessoa -->
  Você não pode ver o histórico alheio!
<% else %> <!-- Você está vendo o seu próprio histórico -->
  <h3>Você está vendo o seu histórico de negociações.</h3>
  <h2>| 
    <%= link_to 'Vendas', history_collaborator_path(id: params[:id], q: 'vendidos') %> |
    <%= link_to 'Compras', history_collaborator_path(id: params[:id], q: 'comprados') %> |
  </h2>

  <% if @negotiations.blank? and params[:q] %>
    Você não tem produtos <%= params[:q] %> ainda.
  <% else %>
    <%= "Seus produtos #{params[:q]}:" if params.has_key?(:q) %>
    <% @negotiations.reverse.each do |negotiation| %>
      <h4><%= negotiation.product.name %></h4>
      <ul>
        <li><%= negotiation.buyer_name %></li>
        <%= link_to(image_tag(negotiation.product.first_photo), product_path(negotiation.product)) %><br>
        <li><%= number_to_currency(negotiation.final_price) %></li>
        <li><%= negotiation.date_of_end.strftime("%d/%m/") + negotiation.date_of_end.year.to_s %></li>
        <%= link_to 'Ver detalhes', product_path(negotiation.product) %>
      </ul>
    <% end %>
  <% end %>

<% end %>
