<p><%= link_to 'Voltar', collaborator_path(current_collaborator) %></p>

<% if current_collaborator != Collaborator.find(params[:id]) %> <!-- Histórico de outra pessoa -->
  Você não pode ver o histórico alheio!
<% else %> <!-- Você está vendo o seu próprio histórico -->
  <h3>Você pode ver o seu histórico de negociações.</h3>
  <h2>| 
    <%= link_to 'Vendas', history_collaborator_path(id: params[:id], q: 'vendidos') %> |
    <%= link_to 'Compras', history_collaborator_path(id: params[:id], q: 'comprados') %> |
    <%= link_to 'Cancelados', history_collaborator_path(id: params[:id], r: 'cancelados') %> |
  </h2>

  <% if params[:r] %>
    <%= "Você ainda não tem produtos #{params[:r]}." if @products.blank? %>
    <%= render partial: 'canceled', locals: {products: @products, stat: {'canceled' => 'cancelado'}} %>

  <% elsif params[:q] %>
    <%= "Você ainda não tem produtos #{params[:q]}." if @negotiations.blank? %>
    <p><%= "Seus produtos #{params[:q]}:" if !@negotiations.blank? %></p>
    <%= render partial: 'negotiated', locals: {negotiations: @negotiations} %>
  <% end %>

<% end %>
