<p><%= link_to 'Voltar', collaborator_path(current_collaborator) %></p>

<% if current_collaborator.id == @collaborator.id %>
<!-- Você está vendo o seu próprio perfil -->

    <% if not current_collaborator.profile_filled? %>
      <p, style="color:red">&#8226Para que você possa anunciar produtos e efetivar a compra de produtos, é
      necessário preencher o seu perfil com as informações faltantes!</p>
      <%= link_to 'Editar informações •', edit_collaborator_path(current_collaborator),
                                        class: 'css_class', style: "color:red" %><br>

    <% else %>
      <% if @products.empty? %>
        <p>Você não tem nenhum anúncio no momento.<p>
        <p>Para anunciar algum item à venda, clique em <%= link_to 'Anunciar', new_product_path %>!</p>
      <% else %>
        <h2>Seus anúncios:</h2>
        <%= link_to 'Fazer um novo anúncio', new_product_path %>
    
        <% @products.each do |product| %>  
          <p>--------------------------------------------------</p>
          <%= link_to product.name, product_path(product) %><br>
          <%= link_to(image_tag(product.first_photo), product_path(product)) %><br>
          <span style="color:green"><%= number_to_currency(product.sale_price) %></span>
        <% end %>

      <% end %>

    <% end %>

<% else %>
<!-- Você é um visitante vendo o perfil de outra pessoa -->

    <% if @products.empty? %>
      <h2><%= "#{@collaborator.name} ainda não fez nenhum anúncio." %></h2>
    <% else %>
      <% @products.each do |product| %>
        <p>--------------------------------------------------</p>
        <h2><%= "Anúncios de #{@collaborator.name}:" %></h2>
        <%= link_to product.name, product_path(product) %><br>
        <%= link_to(image_tag(product.first_photo), product_path(product)) %><br>
        <%= number_to_currency(product.sale_price) %><br>
      <% end %>
    <% end %>

<% end %>
