<p><%= link_to 'Voltar', root_path %></p>

<%= form_with url: search_products_path, method: :get, local: true do |f| %>
  <%= f.label :q, 'Busca de produtos' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<br>Filtrar por categoria:<br>|
<% ProductCategory.all.each do |categoria| %>
  <%= link_to categoria.name,
      search_products_path(q: params[:q], cat: categoria) %> |
<% end %>
<%= link_to 'Todas', search_products_path(q: params[:q]) %> |

<% if not params[:q].blank? %>
  <div>
    <p>Buscando por:</p>
    <dd><span style="font-weight:bold;color:red"><%= params[:q] %></span><dd>
  </div>
  <p><%= "Em: #{ProductCategory.find(params[:cat]).name}" if not params[:cat].blank? %></p>
<% end %>

<% if not @products.empty? %>

  <h3>Resultados da Busca</h3>

  <% @products.reverse.each do |product| %>
    <a href=<%= product_path(product)%>>
      <dl class='prod-card' style='float:none'>
        <dt class='prod-name'><%= product.name %></dt>
        <dd class='seller'><%= product.seller_name[0,50] %></dd>
        <dd class='seller'><%= product.collaborator.sector[0,50] %></dd>
        <%= image_tag(product.first_photo) %>
        <dd><span class='price-tag'><%= number_to_currency(product.sale_price) %></span></dd>
        <span class='mini-desc'><%= product.description[0,50] %><%= "..." if product.description.size > 50 %></span>
      </dl>
    </a>
  <% end %>

<% else %>
  <p><b>Nenhum produto encontrado.</b></p>
<% end %>
