<p><%= link_to 'Voltar', products_collaborator_path(current_collaborator) %> - 
<%= link_to 'Home Page', root_path %></p>

<% if current_collaborator.domain != @product.collaborator.domain %> <!--Erro das empresas diferentes -->
  Você não tem permissão para ver este anúncio!<br>
  Somente anúncios feitos por pessoas da mesma empresa que você são visíveis.<br>
<% else %>

  <% if @product.collaborator == current_collaborator %> <!--Você está vendo o seu próprio produto -->
    <% if @product.avaiable? or @product.invisible? %>

      <b>Você é o dono deste produto.</b><br>
      Neste momento, ele encontra-se <b style='color:red'><%= @product.invisible? ? 'invisível' : 'visível' %></b>
      <p>Você pode deixá-lo visível, invisível ou ainda cancelá-lo:</p> |
      <%= link_to 'Invisível', invisible_product_path(@product), method: :post %> |
      <%= link_to 'Visível', avaiable_product_path(@product), method: :post %> | --- |
      <%= link_to 'Cancelar', canceled_product_path(@product), method: :post %> |
      <br><br><span style="font-size:1.17em ; font-weight:bolder"><%= @product.name %></span><br>
      <%= link_to 'Editar', edit_product_path(@product), class: 'css_class', style: "font-size:90%" %><br><br>
      <%= image_tag @product.first_photo %>
      <%= link_to 'Mais fotos', photos_product_path(@product),
          {style:'font-size:85%', class: 'css_class'} if @product.photos.count > 1 %>
      <p><%= @product.description %></p>
      <span style="color:green"><%= number_to_currency(@product.sale_price) %></span><br>

    <% elsif @product.sold? %>

      <h3><%= @product.name %></h3>
      <%= image_tag @product.first_photo %>
      <%= link_to 'Mais fotos', photos_product_path(@product),
          {style:'font-size:85%', class: 'css_class'} if @product.photos.count > 1 %><br>

      <%= @product.description %><br><br>
      <p><b>Este produto foi vendido!</b></p>
      <% neg = Negotiation.where(product: @product).sold.first %>
      <dl>
        <dt>Comprador:</dt>
        <span style='float:left'><%= image_tag Collaborator.find(@product.buyer_id).mini_avatar %></span>
        <dd><%= neg.buyer_name %></dd>
        <dd><%= neg.collaborator.sector %></dd>
        <dd><%= neg.buyer_email %></dd>
      </dl>
      <%= link_to 'Ver negociação', negotiation_path(neg) %>

    <% elsif @product.negotiating? %>
      Você está negociando este produto com <%= link_to Collaborator.find(@product.buyer_id).name, collaborator_path(@product.buyer_id) %><br>
      <p><%= link_to 'Ir para a negociação', negotiation_path(Negotiation.where(product: @product).last) %></p>
      <b><%= @product.name %></b><br>
      <%= image_tag @product.first_photo %>

    <% else %> <!-- Produto cancelado -->
      Este anúncio foi cancelado.<br>
    <% end %>

  <% else %> <!-- Você está vendo o produto de outra pessoa -->
    <% if @product.avaiable? %>

      <h3><%= @product.name %><h3>
      <h4>Anunciado por <%= link_to @product.collaborator.name, collaborator_path(@product.collaborator) %></h4><br>
      <%= image_tag @product.first_photo %>
      <%= link_to 'Mais fotos', photos_product_path(@product),
          {style:'font-size:85%', class: 'css_class'} if @product.photos.count > 1 %>
      <p><%= @product.description %></p>
      <% ja_tem_negot = Negotiation.where(product: @product, collaborator: current_collaborator)
                             .not_sold.not_canceled.first %>
      <% if @product.buyer_id > 0 %>
        <span style="color:green"><%= number_to_currency(@product.sale_price) %></span>
        <p><span style="font-size:130%;color:red"><%= 'Você já tem uma negociação deste produto.' if (ja_tem_negot.waiting? or ja_tem_negot.negotiating?) %></span><br>
        <%= link_to 'Ver negociação', negotiation_path(ja_tem_negot) if (ja_tem_negot.waiting? or ja_tem_negot.negotiating?) %></p>
      <% else %>
        <%= button_to number_to_currency(@product.sale_price), new_product_negotiation_path(@product), method: :get, class: 'price-tag' %><br>
      <% end %>

    <% elsif @product.sold? %>

      <p><b>Este produto foi vendido!</b></p>
      <h3><%= @product.name %></h3>
      <%= image_tag @product.first_photo %>
      <%= link_to 'Mais fotos', photos_product_path(@product),
          {style:'font-size:85%', class: 'css_class'} if @product.photos.count > 1 %><br>
      <%= @product.description %><br><br>
      <% neg = Negotiation.where(product_id: @product).sold.first %>
      <%= link_to 'Ver detalhes da negociação', negotiation_path(neg) if current_collaborator == neg.collaborator %>

    <% elsif @product.buyer_id == current_collaborator.id and @product.negotiating? %>
      Você está negociando este produto com <%= link_to @product.collaborator.name, collaborator_path(@product.collaborator) %><br>
      <p><%= link_to 'Ir para a negociação', negotiation_path(Negotiation.where(product: @product).first) %></p>
    <% else %> <!-- invisível, negociando ou cancelado -->
      Parece que este anúncio não está disponível no momento.<br>
      Talvez ele esteja em negociação, tenha sido cancelado ou está invisível.
    <% end %>
  <% end %>

<!-- Seção de comentários -->
  <% comment = Comment.where(product: @product) %>
  <% if not comment.blank? %>
    <h3>Comentários:</h3>
    <%#OPTIMIZE Por que esse each em uma linha não funciona?%>
    <%#= comment.each {|com| render com, locals: {comment: :com}} %>
    <% comment.each do |com| %>
      <%= render com, locals:{comment: :com} %>
    <% end %>
  <% else %>
    <h5>Ainda não há comentários.</h5>
  <% end %>
  <%= render 'comments/form' if @product.avaiable? %>
  <%#TODO Poder responder os comentários %>

<% end %>
