<p><%= link_to 'Voltar à Home Page', root_path %></p>

<% if current_collaborator.domain != @product.collaborator.domain %> <!--Erro das empresas diferentes -->
  Você não tem permissão para ver este anúncio!<br>
  Somente anúncios feitos por pessoas da mesma empresa que você são visíveis.<br>
<% else %>

  <% if @product.collaborator == current_collaborator %> <!--Você está vendo o seu próprio produto -->
    <% if @product.avaiable? or @product.invisible? %>

      <b>Você é o dono deste produto.</b><br>
      Neste momento, ele encontra-se <b><span, style='color:red'><%= @product.invisible? ? 'invisível' : 'visível' %></span></b>
      <p>Você pode deixá-lo visível, invisível ou ainda cancelá-lo:</p> |
      <%= link_to 'Invisível', invisible_product_path(@product), method: :post %> |
      <%= link_to 'Visível', avaiable_product_path(@product), method: :post %> | --- |
      <%= link_to 'Cancelar', canceled_product_path(@product), method: :post %> |
      <h3><%= @product.name %></h3>
      <p><%= @product.description %></p>
      <%= number_to_currency(@product.sale_price) %><br>

    <% elsif @product.sold? %>

      <h3><%= @product.name %></h3>
      <% #TODO Foto do produto aqui, também. %>
      <%= @product.description %><br><br>
      <p><b>Este produto foi vendido!</b></p>
      <% neg = Negotiation.where(product_id: @product).sold.first %>
      <dl>
        <dt>Comprador:</dt>
        <dd><%= neg.buyer_name %></dd>
        <dd><%= neg.collaborator.sector %></dd>
        <dd><%= neg.buyer_email %></dd>
      </dl>
      <%= link_to 'Ver negociação', negotiation_path(neg) %>

    <% else %> <!-- Produto cancelado -->
      Este anúncio foi cancelado.<br>
    <% end %>

  <% else %> <!-- Você está vendo o produto de outra pessoa -->
    <% if @product.avaiable? %>

      <h3><%= @product.name %><h3>
      <h4>Anunciado por <%= link_to @product.collaborator.name, collaborator_path(@product.collaborator) %></h4><br>
      <p><%= @product.description %></p>
      <% ja_tem = Negotiation.where(product: @product, collaborator: current_collaborator)
                             .not_sold.not_canceled.first %>
      <% if ja_tem.present? %>
        <%= number_to_currency(@product.sale_price) %>
        <p><%= 'Você já tem uma negociação deste produto.' if (ja_tem.waiting? or ja_tem.negotiating?) %><br>
        <%= link_to 'Ver negociação', negotiation_path(ja_tem) if (ja_tem.waiting? or ja_tem.negotiating?) %></p>
      <% else %>
        <%= button_to number_to_currency(@product.sale_price), new_product_negotiation_path(@product), method: :get %><br>
      <% end %>

    <% elsif @product.sold? %>

      <p><b>Este produto foi vendido!</b></p>
      <h3><%= @product.name %></h3>
      <%= @product.description %><br><br>
      <% neg = Negotiation.where(product_id: @product).sold.first %>
      <%= link_to 'Ver detalhes da negociação', negotiation_path(neg) if current_collaborator.id == neg.collaborator.id %>

    <% else %> <!-- invisível ou cancelado -->
      Parece que este anúncio já foi tirado do ar!<br>
      Talvez ele tenha sido cancelado ou está invisível.
    <% end %>
  <% end %>

  <!-- Seção de comentários -->
  <% comment = Comment.where('product_id = ?', @product.id) %>
  <% if not comment.blank? %>
    <h3>Comentários:</h3>
    <%#OPTIMIZE Por que esse each em uma linha não funciona?%>
    <%#= comment.each {|com| render com, locals: {comment: :com}} %>
    <% comment.each do |com| %>
      <%= render com, locals:{comment: :com} %>
    <% end %>
  <% else %>
    <h5>Ainda não há comentários.</h5>
  <% end %>
  <%= render 'comments/form' if not (@product.sold? or @product.canceled?) %>
  <%#TODO Poder responder os comentários %>

<% end %>
