<%= link_to 'Voltar à Home Page', root_path %>

<% if current_collaborator.domain != @product.collaborator.domain %>
  Você não tem permissão para ver este anúncio!<br>
  Somente anúncios feitos por pessoas da mesma empresa que você são visíveis.<br>
<% else %>
  <h3><%= @product.name %><h3>
  <h5>Anunciado por <%= link_to @product.collaborator.name %></h5><br>
  <p><%= @product.description %></p>
  <% #TODO Fazer um botão com o preço %>
  <%= link_to number_to_currency(@product.sale_price) %><br>
  Comentários:
  <% #TODO Fazer comentários pros produtos %>
  <% #algo parecido com @product.comments.each do |c|? %>
<% end %>
