<dt><b><%= negotiation.product.name %></b></dt>
<%= image_tag negotiation.product.first_photo %>
<%= link_to 'Mais fotos', photos_product_path(negotiation.product),
    {style:'font-size:85%', class: 'css_class'} if negotiation.product.photos.count > 1 %>
<br><%= negotiation.product.description %><br><br>

<dt><b>Comprador:</b></dt>
<span style='float:left'><%= image_tag negotiation.collaborator.mini_avatar %></span>
<dd><%= negotiation.buyer_name %></dd>
<dd><%= negotiation.collaborator.sector %></dd>
<dd><%= negotiation.buyer_email %></dd><br>

<dt><b>Vendedor:</b></dt>
<span style='float:left'><%= image_tag negotiation.product.collaborator.mini_avatar %></span>
<dd><%= negotiation.seller_name %>
<dd><%= negotiation.product.collaborator.sector %></dd>
<dd><%= negotiation.seller_email %></dd><br>
