<%= link_to 'Voltar', collaborator_path(current_collaborator) %>

<% if @seller_negotiations.present? %>

  <h2>Suas negociações como vendedor:</h2>

  <% waiting_list = [] %>
  <% negot_list = [] %>
  <% @seller_negotiations.reverse.each do |x| %>
    <% waiting_list << x if x.waiting? %>
    <% negot_list << x if x.negotiating? %>
  <% end %>

  <% if not waiting_list.blank? %>
    <h3>Em espera:</h3>
    <%= render partial: 'list', locals: {list: waiting_list} %>
  <% end %>

  <% if not negot_list.blank? %>
    <h3>Em andamento:</h3>
    <%= render partial: 'list', locals: {list: negot_list} %>
  <% end %>

<% end %>

<% if @buyer_negotiations.present? %>

  <h2>Suas negociações como comprador:</h2>

  <% waiting_list = [] %>
  <% negot_list = [] %>
  <% @buyer_negotiations.reverse.each do |x| %>
    <% waiting_list << x if x.waiting? %>
    <% negot_list << x if x.negotiating? %>
  <% end %>

  <% if not waiting_list.blank? %>
    <h3>Em espera:</h3>
    <%= render partial: 'list', locals: {list: waiting_list} %>
  <% end %>

  <% if not negot_list.blank? %>
    <h3>Em andamento:</h3>
    <%= render partial: 'list', locals: {list: negot_list} %>
  <% end %>

<% end %>

<% if not (@seller_negotiations.present? or @buyer_negotiations.present?) %>
  <h3>Você não tem negociações no momento.</h3>
<% end %>
