<%= link_to 'Voltar', collaborator_path(current_collaborator) %>
<% if @seller_negotiations.present? %>
  <h2>Suas negociações como vendedor:</h2>

  <h3>Em espera:</h3>
  <% @seller_negotiations.reverse.each do |negotiation| %>
    <% if negotiation.waiting? %>
      <ul>
        <li><%= link_to "#{negotiation.product.name}", negotiation_path(negotiation) %><br>
        <%= link_to "#{negotiation.buyer_name} - #{negotiation.buyer_email}", negotiation_path(negotiation) %></li>
      </ul>
    <% end %>
  <% end %>

  <h3>Em andamento:</h3>
  <% @seller_negotiations.reverse.each do |negotiation| %>
    <% if negotiation.negotiating? %>
      <ul>
        <li><%= link_to "#{negotiation.product.name}", negotiation_path(negotiation) %><br>
        <%= link_to "#{negotiation.buyer_name} - #{negotiation.buyer_email}", negotiation_path(negotiation) %></li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<% if @buyer_negotiations.present? %>
  <h2>Suas negociações como comprador:</h2>

  <h3>Em espera:</h3>
  <% @buyer_negotiations.reverse.each do |negotiation| %>
    <% if negotiation.waiting? %>
      <ul>
        <li><%= link_to "#{negotiation.product.name}", negotiation_path(negotiation) %><br>
        <%= link_to "#{negotiation.seller_name} - #{negotiation.seller_email}", negotiation_path(negotiation) %></li>
      </ul>
    <% end %>
  <% end %>


  <h3>Em andamento:</h3>
  <% @buyer_negotiations.reverse.each do |negotiation| %>
    <% if negotiation.negotiating? %>
      <ul>
        <li><%= link_to "#{negotiation.product.name}", negotiation_path(negotiation) %><br>
        <%= link_to "#{negotiation.seller_name} - #{negotiation.seller_email}", negotiation_path(negotiation) %></li>
      </ul>
    <% end %>
  <% end %>

<% end %>
