<p><%= link_to 'Voltar para o produto', product_path(@product) %></p>

<% if @product.collaborator.domain == current_collaborator.domain %>

  <% if @product.collaborator.id != current_collaborator.id %>

    <h2>Você quer mesmo iniciar a negociação deste produto?</h2>
    <%= link_to 'Iniciar Negociação', product_negotiations_path(@product),
        {method: :post, style:'font-size:110% ; color:red', class:'css_class'} %>
    <h3><%= @product.name %></h3>
    <h4>Aunciado por <b style='color:green'><%= @product.collaborator.name%></b></h4>
    <%#TODO Talvez aqui também devesse ver todas as fotos, quando tiver mais que uma?%>
    <%= image_tag @product.first_photo %>
    <p><%= @product.description %></p>
    <span style="color:green"><%= number_to_currency(@product.sale_price) %></span><br><br>

  <% else %>
    Você não pode iniciar uma negociação consigo mesmo!
  <% end %>

<% else %>
  Você não pode começar negociações com pessoas que são de outras empresas.
<% end %>
