<p><%= link_to 'Voltar', product_path(@product) %></p>

<% if @product.collaborator.domain == current_collaborator.domain %>

  <% if @product.collaborator.id != current_collaborator.id %>

    <h2>Você quer mesmo iniciar a negociação deste produto?</h2>

    <h3><%= @product.name %></h3>
    <h4>Aunciado por <b style='color:green'><%= @product.collaborator.name%></b></h4>
    <%#TODO Talvez aqui também devesse ver todas as fotos, quando tiver mais que uma?%>
    <%= image_tag @product.photos.empty? ? 'default_product.png' :
                                            @product.photos.first.variant(resize: '200x400').processed %>
    <p><%= @product.description %></p>
    <%= number_to_currency(@product.sale_price) %><br><br>

    <%= link_to 'Iniciar Negociação', product_negotiations_path(@product), method: :post %>

  <% else %>
    Você não pode iniciar uma negociação consigo mesmo!
  <% end %>

<% else %>
  Você não pode começar negociações com pessoas que são de outras empresas.
<% end %>
